<% provide(:title, 'Register') %>
<h1>Account Registration</h1>

<% if @user && @user.errors.present? %>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: register_path do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Register", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
