<div class = "row">
  <div class = "col-md-4 col-md-offset-4">
    <h1><center> Create new project </center></h1>
    <%= form_for([@user, @project], url: new_project_path) do |f| %>
      
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    <br>
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    <br>
      <%= f.submit "Submit New Project", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
