<header class="navbar navbar-inverse">
    <nav>
      <div class="container fluid">
    <%= link_to image_tag("tcdb_logo.png", :height => "50", :alt=> "TalentCrewDB"), root_path %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>

        <% else %>
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "Login", new_login_path %></li>
        <% end %>
      </ul>

  </div>
      </nav>
</header>
